<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container bg-warning">
      <!-- Add Jumbotron to Header -->
      <div class="alert" role="alert">
      <div class="jumbotron text-center" style="background-color:#f1ddb1">
        <h1 class="text-warning">Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-warning btn-lg btn-block text-warning" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
      </div>
      <!-- Add section for Mars News -->
      <div class="row bg-warning" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body" role="alert">
              <h2 class="text-center text-warning">Latest Mars News</h2>
              <br>
              <h4 class="media-heading text-warning">{{ mars.news_title }}</h4>
              <p class="text-warning">{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Section for Featured Image and Facts table -->
      <div class="row bg-warning" id="mars-featured-image">
        <div class="col-md-12">
          <h2 class="text-center text-warning">Featured Mars Image</h2>

          <!-- if images is False/None/non-existent, then default to error message -->
          
          <img
            src="{{mars.featured_image | default('static/images/error.png', true) }}"
            class="img-responsive center-block"
            alt="Responsive image"
          />
        </div>
      
        <div class="col-md-12">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <h2 class="text-center text-warning">Mars Facts</h2>
            {{ mars.facts | safe }}
          </div>
        </div>
      </div>

      <!-- Section for Mars Hemispheres -->
      <div class="row bg-warning" id="mars-hemispheres">
        <div class="page-header">
          <h2 class="text-center text-warning">Mars Hemispheres</h2>
        </div>

        {% for hemisphere in mars.hemisphere_image_urls %}
        <div class="col-xs-6 bg-warning">
          <div class="thumbnail" style="background-color:#f1ddb1">
            <img src="{{hemisphere.image_url | default('static/images/error.png', true)}}" alt="Repsonsive Image" class="img-responsive center-block img-circle"/>
            <div class="caption">
              <h4 class="text-warning text-center">{{ hemisphere.title }}</h4>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
